@page
@* @model Mission6_Stone.Views.MovieListModel
 *@ @{
}

@model List<Movie>

<table>
    <thead class="fw-bold">
        <tr>
@*             <td>MovieId</td>
            <td>CategoryId</td> *@
            <td>Title</td>
            <td>Category</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>CopiedToPlex</td>
            <td>Notes</td>
        </tr>
    </thead>

    @foreach (var entry in Model)
    {
        <tbody>
            <tr>
@*                 <td>@x.MovieId</td>
                <td>@x.CategoryId</td> *@
                <td>@entry.Title</td>
                <td>@entry.Year</td>
                <td>@entry.Director</td>
                <td>@entry.Rating</td>
                <td>@entry.Edited</td>
                <td>@entry.LentTo</td>
                <td>@entry.CopiedToPlex</td>
                <td>@entry.Notes</td>
                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@entry.MovieId">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@entry.MovieId">Delete</a></td>
            </tr>
        </tbody>
    }

</table>